PG_CONTAINER_NAME=pg_local
PG_IMAGE=docker.io/library/postgres:15
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATA_DIR=./pgdata

APP_IMAGE_NAME=demo-app:latest
APP_CONTAINER1=app1
APP_CONTAINER2=app2
APP_PORT1=8080
APP_PORT2=8081

NETWORK_NAME=demo-net
